* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Lato', sans-serif;
}
body {
  overflow: hidden;
  color: #a8b6c6;
  background-color: #3b3d3f;
}
a,
a:active {
  color: #a8b6c6;
}

header {
  height: 50px;
  padding: 5px;
}
.textarea-before {
  width: calc(80% - 50px);
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  background: linear-gradient(
    90deg,
    rgba(252, 176, 69, 1) 33%,
    rgba(176, 16, 16, 1) 58%
  );
}
.CodeMirror {
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  margin: auto;
}

header {
  text-align: center;
} /*
#menuBtn {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  display: none;
}*/

h1 {
  text-transform: uppercase;
  background: -webkit-linear-gradient(
    90deg,
    rgba(252, 176, 69, 1) 33%,
    rgba(176, 16, 16, 1) 58%
  );
  -webkit-background-clip: text;
  background-clip: text;
}
h1:before {
  content: '<>';
  margin-right: 10px;
  -webkit-text-fill-color: transparent;
}
h1:after {
  content: '</>';
  margin-left: 10px;
  -webkit-text-fill-color: transparent;
}

main {
  height: calc(100vh - 40px - 50px);
  display: flex;
  justify-content: space-around;
}

aside {
  width: 20%;
  height: 100%;
}
aside section {
  margin: 30px 0;
}
@media all and (max-width: 760px) {
  header {
    height: 90px;
  }
  main {
    height: calc(100vh - 90px - 50px);
  }
  aside {
    position: absolute;
    width: 100vw;
    height: calc(100vh - 90px - 50px);
    top: 90px;
    right: -100vw;
    transition: all 1s ease;
    opacity: 0.9;
    padding: 10px;
    z-index: 100;
    background-color: #3b3d3f;
  }
  .active {
    right: 0;
    transition: all 1s ease;
  }
  .textarea-before {
    width: calc(100vw - 10px);
  }
  #menuBtn {
    display: block;
  }
}

aside p {
  margin: 20px 0;
}
#download {
  border: 1px solid #2b2b2b;
  border-radius: 5px;
  cursor: pointer;
}
.warning i {
  color: red;
}
i {
  font-size: 1.5rem;
  margin: 5px;
}

footer {
  text-align: center;
  height: 40px;
}
footer p {
  margin: auto;
  margin: 10px 0;
}
